body {
    --var-cor-primaria: #202020;
    --var-cor-secundaria: #333533;
    --var-cor-terciaria: #ffd100;

    --var-cor-primaria-rgb: rgb(32, 32, 32);
}

section {
    padding: 0rem 4rem;
    margin: 2rem 0  2rem 0;
}

.container {
    width: 100vw;
}
